@inject IToastService ToastService
@inject IShopClient ShopClient

<div class="col-md-4 mb-4">
    <a href="/ProductInfo/@Product.Id">
        <div class="card">
            <img class="img-thumbnail" src="@Product.ImageUrl" alt=""/>
            <div class="card-body">
                <h5 class="card-title mb-3">
                    @Product.Name
                </h5>
                <p class="card-text">
                    <b>@Product.Price.ToString("C")</b>
                    <button class="btn btn-outline-primary"
                            @onclick="@(() => AddProductToCart(Product))">
                        <b>В корзину</b>
                    </button>
                </p>
            </div>
        </div>
    </a>
</div>

@code {
    
    [Parameter]
    public Product Product { get; set; }

    public IEnumerable<CartItem>? CartItems { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        CartItems = await ShopClient.GetCartItems();
    }

    // Button Buy
    private void AddProductToCart(Product product)
    {
        ShopClient.AddToCart(new CartItem());
        
        ToastService.ShowInfo(
            $"Add to cart product: {product.Name}");
    }
}