@page "/Account"

@using ShopOnline.HttpModels.Responses

@inject IShopClient ShopClient
@inject IToastService ToastService

<h3>Личный кабинет</h3>

<table>
        <tr>
            <td>Логин: </td>
            <td>
                @Account?.Name
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                @Account?.Email
            </td>
        </tr>
        @* <tr> *@
        @*     <button @onclick="DeleteAccount" class="btn btn-primary"> *@
        @*             <b>Удалить аккаунт</b> *@
        @*         </button> *@
        @* </tr> *@
    </table>

@code {

    private AccountInfoResponse? Account { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Account = await ShopClient.GetCurrentAccount();
    }

    // private async Task DeleteAccount()
    // {
    //     await ShopClient.DeleteAccount(Id);
    //     
    //     ToastService.ShowInfo(
    //         $"Аккаунт {Account?.Name} удалён.");
    // }
    
}