@page "/Catalog"

@inherits CatalogBase

<PageTitle>Список товаров</PageTitle>

<h3 class="mb-5">
    Список товаров 
    <button @onclick="NavigateToAddProduct" class="btn btn-primary">
        <b>Добавить товар</b>
    </button>
    <button @onclick="NavigateToDeleteProduct" class="btn btn-primary">
        <b>Удалить товар</b>
    </button>
</h3>

@if (Products != null)
{
    var productCount = Products.Count();

    if (productCount > 0)
    {
        @foreach (var productGroup in GetGroupedProductByCategory())
        {
            <h4>
                @GetCategoryName(productGroup)
            </h4>
            
            <hr class="mb-3"/>
            
            <div class="row mt-3">
                @foreach (var item in productGroup)
                {
                    <ProductItem Product="item"/>
                }
            </div>
        }
    }
}
else
{
    <LoadingIcon/>
}

