@page "/Catalog"

@inherits CatalogBase

@inject IShopClient Client

<PageTitle>Catalog</PageTitle>

<h3 class="mb-5">Product List</h3>

@if (Products != null)
{
    var productCount = Products.Count();

    if (productCount > 0)
    {
        const int itemsPerRow = 3;

        for (int i = 0; i < productCount; i++)
        {
            var productRowList = Products
                .Skip(i * itemsPerRow)
                .Take(itemsPerRow)
                .ToList();
            
            <div class="row mt-3">
                @foreach (var item in productRowList)
                {
                    <ProductItem Product="item"/>
                }
            </div>
        }
    }
}
else
{
    <p>Loading...</p>
}