@page "/Categories"

@inherits CategoriesBase

<PageTitle>Категории</PageTitle>

<h3 class="mb-5">Список товаров</h3>

@if (Products != null)
{
    var productCount = Products.Count();

    if (productCount > 0)
    {
        var groupedProductsByCategory 
            = from product in Products
            group product by product.CategoryId
            into prodByCatGroup
            orderby prodByCatGroup.Key
            select prodByCatGroup;

        @foreach (var prodGroup in groupedProductsByCategory)
        {
            <h4>
                @ProductCategories?.First(pc => 
                    pc.Id == prodGroup.First().CategoryId).Name
            </h4>
                                                                                 
            <div class="row mt-3">
                
                @foreach (var item in prodGroup)
                {
                    <ProductItem Product="item"/>
                }
                
            </div>
            
            <hr class="mb-3"/>
        }
    }
}
else
{
    <LoadingIcon/>
}