@page "/Login"

@using Microsoft.AspNetCore.Components
@using ShopOnline.Domain.Entities
@using ShopOnline.Models.Requests


@inject IShopClient ShopClient
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Личный кабинет</PageTitle>

<h3>Личный кабинет</h3>

<EditForm Model="_model" OnValidSubmit="LogIn">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <InputText type="email" 
                           class="form-control" @bind-Value="_model.Email"/>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <InputText type="password" 
                           class="form-control" @bind-Value="_model.Password"/>
            </td>
        </tr>
        <tr>
            <input type="submit" class="btn btn-primary"
                   value="Войти"/>
            <a class="link-primary" href="/Registration">Регистрация</a>
        </tr>
    </table>
</EditForm>

@if (_authorizen)
{
    ToastService.ShowSuccess("Вы успешно авторизованы!");
    //NavigationManager.NavigateTo($"Account/{GetId()}");
}

@code {

    public Task<Guid> Id { get; set; }
    private readonly LoginRequest _model = new();
    private bool _authorizen = false;

    private async Task LogIn()
    {
        await ShopClient.LogInAccount(_model);
        _authorizen = true;
        
    }

    // private async Task<Guid> GetId()
    // {
    //     Id = ShopClient.GetIdByEmail(_model.Email);
    //     return Id.Result;
    // }
}