@page "/Login"
@using ShopOnline.Models.Dto

@inject IShopClient ShopClient
@inject IToastService ToastService

<PageTitle>Личный кабинет</PageTitle>

<h3>Личный кабинет</h3>

<EditForm Model="_model" OnValidSubmit="Authorized">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <InputText type="email" 
                           class="form-control" @bind-Value="_model.Email"/>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <InputText type="password" 
                           class="form-control" @bind-Value="_model.Password"/>
            </td>
        </tr>
        <tr>
            <input type="submit" class="btn btn-primary"
                   value="Войти"/>
            <a class="link-primary" href="/Registration">Регистрация</a>
        </tr>
    </table>
</EditForm>

@if (_authorizen)
{
    ToastService.ShowSuccess("Вы успешно авторизованы!");
}

@code {

    private readonly AccountDto _model = new();
    private bool _authorizen = false;

    private async Task Authorized()
    {
        await ShopClient.Authorization(_model);
        _authorizen = true;
    }
}