@page "/Registration"

@using Microsoft.AspNetCore.Components
@using ShopOnline.HttpModels.Requests

@inject IShopClient ShopClient
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Регистрация</PageTitle>

<h3>Регистрация</h3>

<EditForm Model="_model" OnValidSubmit="Register" href="/Account">
    <DataAnnotationsValidator/>
    <table>
        <tr>
            <td>Имя</td>
            <td>
                <InputText class="form-control" @bind-Value="_model.Name"/>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <InputText type="email" 
                           class="form-control" @bind-Value="_model.Email"/>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <InputText type="password" 
                           class="form-control" @bind-Value="_model.Password"/>
            </td>
        </tr>
        <tr><td><ValidationSummary/></td></tr>
        <tr>
            
            <input type="submit" class="btn btn-primary"
                   value="Зарегистрироваться"/>
            <a class="link-primary" href="/Login">Авторизазия</a>
        </tr>
    </table>
</EditForm>

@if (_register)
{
    ToastService.ShowSuccess("Вы успешно зарегистрированы!");
    //NavigationManager.NavigateTo($"Account/{_model.Id}");
}

@code {
    private readonly RegisterRequest _model = new();
    private bool _register = false;

    private async Task Register()
    {
        await ShopClient.RegisterAccount(_model);
        _register = true;
    }
}