@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/KirillLagutin" target="_blank">Кирилл Лагутин</a>
        </div>

        <article class="content px-4">
            @Body
            <BlazoredToasts />
        </article>
    </main>
</div>